{{ form_start (produitsForm) }}
    {{ form_row (produitsForm.nom) }}
    {{ form_row  (produitsForm.description) }}
    {{ form_row (produitsForm.prix) }}
    {{ form_row  (produitsForm.categorie) }}
    {{ form_row  (produitsForm.imageFile) }}
    <button type="submit" class="btn btn-primary" value="AjouterProduits">Ajouter</button>
{{ form_end (produitsForm) }}