 {{ form_start (produitsForm) }}
    {{ form_row (produitsForm.nom) }}
    {{ form_row  (produitsForm.description) }}
    {{ form_row (produitsForm.prix) }}
    {{ form_row  (produitsForm.categorie) }}
    {{ form_row  (produitsForm.Promotions) }}
    {{ form_row  (produitsForm.debut) }}
    {{ form_row  (produitsForm.fin) }}
    <button type="submit" class="btn btn-primary">Ajouter</button>
{{ form_end (produitsForm) }}