{% extends 'base.html.twig' %}
{% block title %}Catalogues{% endblock %}

{% block body %}
    <main class="container">
            <div class="col-12">
                <h1> Liste des produits</h1>
            </div>
        <section class="row">
            <div class="card">
                <div class= "card-body">
                    <p class="card-text">Filtres</p>
                    <form id="filtre">
                        {% for categorie in categories %}
                            <input type="checkbox" name="categories[]" id="cat{{categorie.id}}" value="{{categorie.id}}"><label for="cat{{categorie.id}}">{{categorie.nom}}</label>
                        {% endfor %}
                    </form>
                </div>
            </div>
         </main>
        </br>
            <div id="content" class="d-flex flex-wrap align-items-center">
                {% include "produits/_content.html.twig" %}
            </div>
        </section>
   
{% endblock %}


{% block javascripts %}
    <script src="{{asset('js/filtres.js')}}"></script>
{% endblock %}